/* contact styling */
.sec-contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/con-img1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.sec-con{
    height: 100vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.con{
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
}
.con1{
    height: 35vh;
    width: 60vw;
}
.con1 h1{
    font-size: 8vw;
    font-weight: 800;
    line-height: 1.0;
    text-align: left;
    font-family: "Poppins", serif;
    color: rgb(255, 255, 255);
}
.contact-info{
    background-color: rgba(206, 166, 58, 0.877);
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-info{
    width: 85vw;
    height: 45vh;
    display: flex;
    justify-content: space-between;
}
.address,.number, .email{
    width: 20vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.address h4,.number h4, .email h4{
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.address p,.number p, .email p{
    font-size: 20px;
    font-weight: 300;
}

.sec-form{
   height: 70vh;
   display: flex;
   justify-content: center;
}
.form-name{
    width: 50vw;
    height: 70vh;
}
.form-1{
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
    
}    
.details{
    width: 42vw;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.f1{
    height: 52px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding-right: 50px;
    font-size: 16px;

}
.f2 {
    border-radius: 5px;
    height: 150px;
    border: 1px solid #ced4da;
    font-size: 16px;
    vertical-align: top; /* Ensures text starts from the top */
    line-height: 1.5; /* Adjust line height for better spacing */
}
.sm-btn{
    height: 52px;
    width: 15vw;
    border-radius: 5px;
    border: none;
    background-color:  rgba(206, 166, 58, 0.877);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.sm-btn:hover{
    cursor: pointer;
}
.f1::placeholder {
    color: #999; /* Placeholder text color */
    opacity: 1; /* Make sure the opacity is full */
    position: absolute; /* Allows for positioning */
    top: 18px; /* Adjust this value to move it vertically */
    left: 12px; /* Adjust this value to move it horizontally */
    transition: all 0.3s ease; /* Smooth transition on focus */
}

.f1:focus::placeholder {
    color: transparent; /* Hide placeholder when focused */
}
.f2::placeholder {
    color: #999; /* Placeholder text color */
    opacity: 1; /* Make sure the opacity is full */
    position: absolute; /* Allows for positioning */
    top: 15px; /* Adjust this value to move it vertically */
    left: 12px; /* Adjust this value to move it horizontally */
    transition: all 0.3s ease; /* Smooth transition on focus */
}

.f2:focus::placeholder {
    color: transparent; /* Hide placeholder when focused */
}

@media (max-width:425px) {
     
    .con{
        height: 90vh;
        width: 80vw;
        display: flex;
        justify-content: flex-start;
        align-items:flex-end;
    }
    .con1{
        height: 18vh;
        width: 300px;
    }

    .con1 h1{
        font-size: 13vw;
        font-weight: 800;
        line-height: 1.0;
        text-align: left;
        font-family: "Poppins", serif;
        color: rgb(255, 255, 255);
    }

    .contact-info{
        background-color: rgba(206, 166, 58, 0.877);
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .con-info{
        width: 420px;
        height: 70vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .address,.number, .email{
        width: 350px;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .address h4,.number h4, .email h4{
        font-size: 20px;
        font-weight: 700;
        color: white;
    }
    .address p,.number p, .email p{
        font-size: 15px;
        font-weight: 300;
    }

    .form-name{
        width: 0px;
        height: 70vh;
    }
    .form-1{
        width: 425px;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dbdbdb;
        
    }
    .details{
        width: 380px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .sm-btn{
        height: 52px;
        width: 100px;
        border-radius: 5px;
        border: none;
        background-color:  rgba(206, 166, 58, 0.877);
        font-size: 13px;
        font-family: 'Times New Roman', Times, serif;
    }










































}